@font-face {
  font-family: 'Open Sans';
  src: url("https://fonts.google.com/specimen/Open+Sans");
}

.App {
}

html {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  background-color: blue;
}

#fundo{
  width: 60%;
  z-index: -1000;
  right: 0;
  top: 25vh;
  position: absolute;
}

#loginBox{
  background-color: #ffffff;
  padding: 20px 40px;
  width: 500px;
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
  margin: 60px 0;
  margin-left: 10%;
  left: 10%;
  font-size: 1.4em;
  font-weight: 500;
  z-index: 1000;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

#loginBox img:first-child{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.input{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  font-size: 0.8em;
  border: 2px solid #4a4a4a;
  box-sizing: border-box;
}

#loginBox input[type="text"], #loginBox input[type="password"]{
  width: 100%;
  background-color: white;
  padding: 25px;
  font-size: 1em;
  color: #4a4a4a;
  border: 0;
  box-sizing: border-box;
}

input::placeholder{
  color: #9B9B9B;
}

#button {
  background: rgb(174,35,169);
  background: linear-gradient(90deg, rgba(174,35,169,1) 0%, rgba(220,78,27,1) 100%);
  box-sizing: border-box;
  color: white;
  padding: 20px 15px;
  font-size: 1em;
  border: 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

#or{
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 100;
}

.linha{
  height: 2px;
  background-color: #9B9B9B;
  width: 40%;
}

#button:hover{
  cursor: pointer;
}

#check{
  display: flex;
  margin: 20px 0;
  font-weight: lighter;
}

#check input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin: 0;
}

#loginBox div input[type="checkbox"]:checked{
  accent-color: #4a4a4a;
}

#problemas{
  font-size: 0.9em;
 font-weight: normal;
}

#cadastrar{
  font-size: 0.9em;
  font-weight: normal;
  color: #4a4a4a;
  border: 1px solid #9B9B9B;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#cadastrar:hover{
  cursor: pointer;
}

p:last-child{
  font-size: 0.8em;
  color: #4a4a4a;
}


#loginBox div label{
  font-size: 0.8em;
  margin-left: 8px;
}

#loginBox input:focus{
  outline: none;
}

.iconInput {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.iconInput:hover {
  cursor: pointer;
}

